$white: #ffffff;
$yellow: #f1e206;
$orange: #eb8b06;
$red: #f22b0c;
$green: #56e609;
$blue: #0e51ed;
$black: #00000f;

body {
  background: $black;
  color: $white;
}

.pinned{
  .header {
    font-size: 2em;
  }
  .notes-container{
    display: flex;
    justify-content: space-between;
  }
}

.note {
  width: 20vw;
  margin: 10px auto;
  padding: 15px;
  border: 2px solid $white;
  font-size: .8em;

  &.note-black {
    background: $black;
  }

  &.note-white{
    background: $white;
    color: $black;
  }

  &.note-yellow{
    background: $yellow;
    color: $black;
  }

  &.note-orange{
    background: $orange;
    color: $black;
  }

  &.note-green{
    background: $green;
    color: $black;
  }

  &.note-red{
    background: $red;
  }

  &.note-blue{
    background: $blue;
  }
}

